.checkBoxCustomStyle{
    width: 24px;
    height: 24px;
    background-color:var(--gray-400);
    border-radius: 50%;
    border: 1px solid var(--blue);
    display: flex;
    justify-content: center;
    
}

.checkBoxCustomStyle:hover{
    background-color: var(--blue-dark) ;
    cursor: pointer;
}

.checkRemoveTraditionalRadio{
    appearance: none;

}

.checkBoxWrapper{
    display: flex;
}

.CheckCircleWrapper{
    width: 23px;
    height: 23px;
    display: flex;
    color: white;
    background: var(--purple-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
}

.CheckCircleWrapper:hover{
    background: var(--purple);
    cursor: pointer;
}

