.taskWrapper{
    position: relative;
    padding: 1rem;
    background: var(--gray-400);
    border-radius: 10px ;

    display: flex;
    justify-content: space-around;

}

.taskWrapper section{
    text-align: center;
    width: 30rem;
}

.taskWrapper span{
    text-align-last: left;
    word-break: break-all;
    display: block;

}


