.workBenchContainer {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;


}

.taskRegisterContainer{
display: flex;
gap: 1rem;
position: absolute;
top:-2rem;
min-width: 40rem;


}