.workBenchContainer {
    background: red;

    display: flex;
    justify-content: center;
    position: relative;
    min-width: 46rem;


}

.taskRegisterContainer{
display: flex;
gap: 1rem;
position: absolute;
top:-2rem;

}